:root {
	--background-color: #24273a;
	--text-color: #cad3f5;
	--command-color: #838ba7;

	--font: 16px "JetBrains Mono", "Fira Code", monospace;
}

html,
body {
	margin: 0;
	padding: 0;
	height: 100%;

	background-color: var(--background-color);
	font: var(--font);
}

#terminal {
	padding: 10px;
	box-sizing: border-box;
	height: 100%;
	width: 100%;
	color: var(--text-color);
}

#prompt {
	width: 100%;
}

.terminal-line,
br {
	white-space: pre;
	line-height: 0.5;
	clear: both;
}

#command-input,
#command-input:focus {
	background-color: transparent;
	border: none;
	flex: 1;
	box-sizing: border-box;
	outline: none;
	color: var(--command-color);
	font: var(--font);
}
